
   #Slice {
      height: auto;
      width: 100%;
  }
  
  .news-photo {
    height: 375px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .main-link1 {
    text-decoration: none;
    color: #828282;
  }
  
  .main-link1:hover {
    color: #3d3d3d;
    transition: 0.2s;
  }
  
  .main-link2 {
    text-decoration: none;
    color: #287aff;
  }
  
  .main-link2:hover {
    color: #3fb9ff;
    transition: 0.2s;
  }
  
  .main-link3 {
    text-decoration: none;
    color: #00517d;
  }
  
  .main-link3:hover {
    color: #909090;
    transition: 0.2s;
  }
  
  .news {
    height: auto;
    width: 100%;
    max-width: 500px;
    margin-right: 20px;
    float: left;
  }
  
  .news-link {
    text-decoration: none;
    color: #2b92ff;
    font-weight: bold;
  }
  
  .news-link:hover {
    color: #9dc9ff;
    transition: 0.2s;
  }
  
  .div1 {
    overflow:auto;
    align-items: center;
    display: flex;
  }
  
  .div2 {
    float: left;
  }
  
  .news-header {
    font-size: 17px;
    font-weight: bold;
    color: #757575;
  }
  
  .title {
      font-size: 30px;
      font-weight: bold;
      margin-left: 0px;
      margin-right: 200px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 49px;
  }
  
  .header {
      font-size: 21px;
      font-weight: bold;
      background-color: #fff;
  }
  
  .header-external {
      font-size: 21px;
      font-weight: bold;
      margin-left: 0px;
      margin-top: 20px;
      margin-bottom: 20px;    
  }
  
  .body {
      text-decoration: none;
      color: black;
      background-color: #fff;
  }
  
  .field {
      height: auto;
      width: auto;
      max-width: 1150px;
      background-color: #f1f1f1;
      border-radius:20px;
      border: 1px solid #cfcfcf;
      padding: 25px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  
    .field-add {
      height: auto;
      width: auto;
      padding: 25px;
      margin: 20px;
    }
  
    .field-desc {
      border: none;
      color: black;
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1150px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @media all and (min-width: 906px) and (max-width: 1170px) {
        .field-desc {
          margin-left: auto;
          margin-right: auto;
          max-width: 800px;
        }
        .title {
          margin-left: 0px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .header-external {
          margin-left: auto;
          margin-top: 20px;
          margin-bottom: 20px;
          max-width: 800px;
        }
        .field {
          margin-left: auto;
          margin-right: auto;
          max-width: 800px;
        }
      }
    
      @media all and (min-width: 601px) and (max-width: 905px) {
        .field-desc {
          margin-left: 25px;
          margin-right: 25px;
        }
        .title {
          margin-left: 0px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .header-external {
          margin-left: 0px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .field {
          margin-left: 25px;
          margin-right: 25px;
        }
      }
    
      @media all and (max-width: 600px) {
        .field-desc {
          margin-left: 25px;
          margin-right: 25px;
        }
        .title {
          margin-left: 0px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .header-external {
          margin-left: 0px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .field {
          margin-left: 25px;
          margin-right: 25px;
        }
      }
    
      .form {
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        background-color: #0088FE;
        border-radius: 7px;
        color: #ffffff;
        padding: 7px;
        display: inline-flex;
        margin: 10px;
        
      }
    
      .link {
        text-decoration: none;
        color: #0095ff;
        font-weight: bold;
      }
    
      .link:hover {
        color: #79c7ff;
        transition: 0.2s;
      }